/* common category、title */
.shop-title{
    margin-top: 10px;
    text-align: left;
    position: relative;
    border-bottom: 2px solid #000;
    background: #fff;
    width: 100%;
    overflow: hidden;

    h4{
        float: left;
        border: none;
        margin: 7px 0px;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }

    h3{
        display: block;
        font-size: 14px;
        color: #999;
        float: left;
        margin-left: 10px;
        margin-top: 12px;
        line-height: 18px;
        margin-bottom: 5px;
    }
}
.more{
    display: block;
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 14px;
    overflow: hidden;
    
    .arrow-right{
        padding-left: 10px;
    }
    .arrow-right::before{
        content: "\F105";
        display: inline-block;
        font: normal normal normal 1.6rem/1 "FontAwesome", sans-serif;
        font-size: inherit;
        text-rendering: auto;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}
.line{
    display: block;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid #d2364c;
    position: absolute;
    top: 180px;
    z-index: 5;    
}
/*
 *  STYLE 1
 */

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track, div::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
    background-color: #F5F5F5;
}

html::-webkit-scrollbar, body::-webkit-scrollbar, div::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(19,194,124,0.3);
    background-color: rgba(19,194,124,0.3);
}