.layout{
    position: relative;
    overflow: hidden;
}
.layout-logo{
    width: 300px;/*212px;*/
    height: 100px;/*36px;*/
    background: #13C27C;
    float: left;
    position: relative;
}
.logo{
    width: 300px;
    height: 42px;
    background : url('../../../static/i/home/index/logo.png');
    background-size: cover;
    top: 32px;
    position: relative;
}
.layout-nav{
    margin: 0 auto;
    margin-left: 450px;
}
.login-info{
    width: auto;
    height: 100px;
    float: right;
    margin-right: 24px;
    .ivu-badge,.ivu-avatar{
        margin-right: 10px;
    }
    .ivu-tooltip-popper{
        top: 70px;
        width: 100px;
    }
    .palcemaent{
        height: 60px;
        line-height: 60px;
    }
    .account-info{
        width: 150px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
    }
    .modify{
        border-bottom: 1px solid #56D8A4;
    }
    .ivu-tooltip-inner{
        background-color: white;
    }
}
.ivu-layout-header{
    height: 100px;
    line-height: 100px;
    background: #13C27C;
    padding: 0px;
}
.ivu-menu-dark{
    background: white;
}

.ivu-menu-horizontal{
    height: 100px;
    line-height: 100px;
}
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active.ivu-menu-item-selected{
    color: #13C27C;
    border-bottom: 4px solid #13C27C;
}
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item{
    color: rgba(20,51,39,1);
    height: 100px;
}
.ivu-menu-horizontal .ivu-menu-item{
    padding: 0px;
    margin: 0 20px;
    font-size: 16px;
}
.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu){
    border-right:none;
    border-left: 4px solid #13C27C;
    background: rgba(240,250,246,1);
    color: #13C27C;
}
.ivu-menu.ivu-menu-light.ivu-menu-vertical::after{
    width: 0px;
}
.ivu-layout.ivu-layout-has-sider{
    margin-top: 20px;
}